<article class="full home-landing">
    <div class="clearfix">
        <form class="t_suggest">
            <input
                    class="t_suggest__input"
                    placeholder="{{'e.g. BRAF, KRAS G12D, DO35100, MU7870, FI998, apoptosis, Cancer Gene Census, imatinib, GO:0016049' | translate}}"
                    autofocus="true"
                    data-suggest
                    />
            <i class="t_suggest__embedded t_suggest__embedded__left t_suggest__embedded__search icon-search"></i>
            <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-show='isBusy'></i>
            <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
               data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
        </form>
    </div>
    <section>
        <h3><translate>About Us</translate></h3>

          <p>The OHSU Knight Cancer Institute Data Portal provides tools for visualizing, querying, and downloading molecular and clinical data from OHSU projects together with large-scale public datasets.</p>

          <p>The Data Portal is developed and maintained by the OHSU Computational Biology team in collaboration with Intel and the Ontario Institute for Cancer Research.</p>

          <p>The Portal currently contains molecular data on over 16,000 samples from the International Cancer Genome Consortium, and is being actively updated to incorporate additional data from OHSU projects. For questions or requests please contact margolin@ohsu.edu. </p>


        <div class="divider"></div>
        <p>
         <div class="text-left"><a  style="background:none"><img id="#pcawg-logo" src="styles/images/knight-logo.png"></a></div>

        </p>

    </section>
    <section class="text-center" data-ng-controller="ReleaseCtrl as ReleaseCtrl">
        <h3><translate>Data Release</translate> {{ ReleaseCtrl.release.releaseNumber }}</h3>
        <h3 class="subhead">{{ ReleaseCtrl.applicationReleaseDate }}</h3>
        <donut home=true items='ReleaseCtrl.donut' inner-label='Donors' outer-label='Donors'
               heading="{{'Donor Distribution by Primary Site' | translate}}" height="325" should-show-no-data-message="false"></donut>

        <div class="summary-table-container">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td><translate>Cancer projects</translate></td>
                    <td class="text-right">
                        <a href="/projects">{{ReleaseCtrl.release.projectCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Cancer primary sites</translate></td>
                    <td class="text-right">{{ReleaseCtrl.release.primarySiteCount | number}}
                    </td>
                </tr>
                <tr>
                    <td><translate>Donors with molecular data in DCC</translate></td>
                    <td class="text-right">
                        <a href="{{ReleaseCtrl.routeToAdvancedSearchPageWithLiveDonorStateFilter()}}">{{ReleaseCtrl.release.liveDonorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Total Donors</translate></td>
                    <td class="text-right">
                        <a href="/search">{{ReleaseCtrl.release.donorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Simple somatic mutations</translate></td>
                    <td class="text-right">
                        <a href="/search/m">{{ReleaseCtrl.release.ssmCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Mutated Genes</translate></td>
                    <td class="text-right">
                        <a href='/search/g?filters={"donor":{"availableDataTypes":{"is":["ssm"]}}}'>
                        {{ReleaseCtrl.release.mutatedGeneCount | number}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="sidebar omega">
        <h3><translate>Tutorial</translate></h3>
        <h4><translate>Example Queries</translate></h4>
        <ol class="list">
            <li>
                <a href='/search/m?filters={"gene":{"id":{"is":["ENSG00000157764"]}},"mutation":{"consequenceType":{"is":["missense_variant"]}},"donor":{"primarySite":{"is":["Colorectal"]}}}'>
                    <translate>BRAF missense mutations in colorectal cancer</translate>
                </a>
            </li>
            <li>
                <a href='/search/g?filters={"mutation":{"functionalImpact":{"is":["High"]}}, "donor":{"projectId":{"is":["MALY-DE"]}, "tumourStageAtDiagnosis":{"is":["III"]}}}'>
                    <translate>Most frequently mutated genes by high impact mutations in stage III malignant lymphoma</translate>
                </a>
            </li>
            <li>
                <a href='/search?filters={"donor":{"primarySite":{"is":["Brain"]}, "availableDataTypes":{"is":["meth_array", "meth_seq"]}},"mutation":{"consequenceType":{"is":["frameshift_variant"]}}}'>
                    <translate>Brain cancer donors with frameshift mutations and having methylation data available</translate>
                </a>
            </li>
        </ol>
    </section>
    <section class="sidebar icgc-cloud-home">
        <div class="divider"></div>
        <div class="icgc-container">

            <a href="http://www.intel.com/content/www/us/en/healthcare-it/solutions/videos/ohsu-intel-collaboration-video.html" title="Go to ICGC in the Cloud Home">
                <img alt="ICGC in the Cloud Logo" src="/styles/images/ccc-logo.png" style="    width: 50%; margin-left: auto; margin-right: auto;" />
            </a>
            <p>
The Collaborative Cancer Cloud (CCC) is a project led by Intel and OHSU to enable large-scale molecular and clinical data sharing and analysis through an interoperable distributed network of compute centers. The Data Portal is built on the CCC platform, which provides core technical capabilities for security, federation, and scalabilty.
            </p>
        </div>
    </section>

</article>
